@import url(containers.css);
@import url(menu.css);
@import url(form.css);

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --textcolor: rgb(70, 70, 70);
    --white: rgb(253, 253, 253);
    --black: rgb(51, 51, 51);
    --lightgray: rgb(240, 240, 240);
    --darkgray: rgb(206, 206, 206);
    --fonte: Tahoma, sans-serif;
}
body {
    font-family: var(--fonte);
    color: var(--textcolor);
}

footer {
    margin-bottom: 2rem;
}

.images {
    align-self: center;
}

/*Headers*/
.first-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
}

.second-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.third-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

.paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

/*Links*/
.first-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--textcolor);
}

.first-link:active {
    font-weight: 600;
}

.second-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--textcolor);
}

.second-link:hover {
    scale: 1.05;
}

.center-text {
    align-self: center;
    text-align: center;
}

.go-main-content,
.go-main-content:active,
.go-main-content:focus,
.go-main-content:hover {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 1px;
    height: 1px;
    color: transparent;
    position: absolute;
}

/*Buttons*/
.first-btn {
    background-color: var(--darkgray);
    box-shadow: 0 0 10px rgba(230, 230, 230, 0.7);
    border-radius: 32px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--black);
    padding: 8px 2rem;
}

.first-btn:hover, .first-btn:active, .first-btn:focus {
    background-color: var(--black);
    opacity: 0.8;
    color: var(--white);
}

.second-btn {
    background-color: var(--black);
    opacity: 0.8;
    border: none;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--white);
    padding: 1rem;
}

.second-btn:hover, .second-btn:active, .second-btn:focus {
    background-color: var(--lightgray);
    color: var(--black);
}

#back-top {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    color: var(--white);
    padding: 1rem;
    box-shadow: 3px 3px 5px rgba(230, 230, 230, 0.9);
}

#back-top:hover, #back-top:active, #back-top:focus {
    background-color: var(--lightgray);
    color: var(--black);
    box-shadow: 2px 2px 1px rgba(230, 230, 230, 0.9);
}

.go-back, .go-forward {
    width: 25%;
    display: block;
    background: none;
    border: none;
    font-size: 3rem;
    color: var(--textcolor);
    margin: 0 auto;
}

.go-back::before {
    content: url(../icons/icon-arrow-back.svg);
}

.go-forward::before {
    content: url(../icons/icon-arrow-forward.svg);
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0 auto;
        width: 1024px;
    }

    .first-link:hover {
        font-weight: 500;
    }

    .first-link::after {
        content: " ";
        width: 0%;
        height: 1.5px;
        background-color: var(--black);
        position: absolute;
        top: 25px;
        left: 0;
        transition: 0.5s ease-in-out;
    }
    
    .first-link:hover::after {
        width: 100%;
    }

    /*Headers*/
    .first-title {
        font-size: 40px;
    }

    .second-title {
        font-size: 35px;
        padding-bottom: 24px;
    }

    .third-title {
        font-size: 24px;
    }

    .paragraph-highlight {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
    }

    .go-back, .go-forward {
        width: 100%;
    }

    /*Fim da página*/
    footer {
        margin-bottom: 0;
    }
}